*{
    margin: 0;
    padding: 0;
}
.body{
    background : linear-gradient(to right bottom, rgb(30, 228, 145), rgb(66, 23, 219));
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}
.primary-heading{
    color: rgb(250, 250, 250);
    font-size: 70px;
    position: absolute;
    top: 25%;
    left: 25%;
    
    border: 3px solid rgb(68, 18, 126);
    border-radius: 60px;
    padding: 15px;
}
.secret{
    font-size: 150px;
    color: aliceblue;
    position: absolute;
    top: 3%;
    left: 45%;
    border: 1.5px solid #fff;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
}
.heading{
    position: relative;
    top: 40vh;
    left: 15vw;
    border: 1.5px solid white;
    border-radius: 5px;
    color: rgb(37, 10, 156);
    font-size: 25px;
    display: inline-block;
    padding: 5px;
}
.guess{
position: relative;
top: 47vh;
left: 15vw;
height: 30px;
width: 200px;
border-radius: 30px;
border: 2px solid rgb(40, 6, 102);
padding: 5px;
}
.Submit{
    position: absolute;
    top : 50.5vh;
    left : 18vw;
    height: 25px;
    width: 80px;
    padding: 5px;
    border: 1px solid transparent;
    background-color: rgb(93, 83, 236);
    border-radius: 20px;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;

}

.right{
    color: #fff;
    font-size: 30px;
    position: relative;
    top: 41vh;
    left: 75vw;
}
.score{
position: absolute;
top: 40%;
    left: 8%;
}
.high-score{
    position: absolute;
    top: 71%;
    left: 15%;
}
